<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=screenTitle%> | <%=organisation%> - <%=projectName%></title>
    <link rel="stylesheet" href="/stylesheets/dash.css">
    <script src="https://kit.fontawesome.com/63483fd584.js" crossorigin="anonymous"></script>

</head>

<body>
    <div class="container">
        <nav class="desktop-nav">
            <h1 class="identityHeading"><%=organisation%></h1>
            <div class="searchBox">
                <input type="text" placeholder="Employees, Departments...">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="userIcon"></div>
        </nav>
        <nav class="mobile-nav">
            <i class="fa-bars"></i>
            <div class="searchBox">
            </div>
            <div class="userIcon"></div>
        </nav>

        <section>
            <div class="sidebar">
                <%-menu%>
            </div>

            <div class="contents">
                <div class="heading">
                    <h1 class="screenTitle"><%=screenTitle%></h1>
                    <%-quickActionBtn%>
                </div>
                <%-contents%>
            </div>
        </section>

    </div>
    <script type="module" src="/javascripts/dash.js"></script>
</body>

</html>